body {
  background-color: black;
  color: white;
  font-family:Arial;
}

a {
  color : #60FFFF;
}

.C64Style {
    font-family:monospace;
}

.subtext {
  color: #AAAAAA;
}

.subtext a {
  color : #60BBBB;
}
